<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <app-nav></app-nav>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <app-header></app-header>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-secondary">Shop Items</h6>
                        </div>
                        <div class="card-body">

                            <div fxLayout fxLayoutAlign="center center">
                                <mat-form-field style="width: 40vw;">
                                    <input matInput type="text" (input)="doFilter($event)" placeholder="Filter data">
                                </mat-form-field>
                            </div>
                            <div class="table-responsive">
                            
                            <mat-table #table [dataSource]="dataSource" matSort class="table table-striped text-xs overflow-x: scroll; overflow-y: scroll;">
                                
                                <ng-container matColumnDef="shopname">
                                    <th class="text-xs" mat-header-cell *matHeaderCellDef>shop name</th>
                                    <td class="text-xs" mat-cell *matCellDef="let element">{{element.name}}</td>
                                </ng-container>
                            
                                <ng-container matColumnDef="shoprepname">
                                    <th class="text-xs" mat-header-cell *matHeaderCellDef>shop rep name</th>
                                    <td class="text-xs" mat-cell *matCellDef="let element">{{element.repname}}</td>
                                </ng-container>
                            
                                <ng-container matColumnDef="shopaddress">
                                    <th class="text-xs" mat-header-cell *matHeaderCellDef>shop address</th>
                                    <td class="text-xs" mat-cell *matCellDef="let element">{{element.address}}</td>
                                </ng-container>
                            
                                <ng-container matColumnDef="addresslongitude">
                                    <th class="text-xs" mat-header-cell *matHeaderCellDef>address longitude</th>
                                    <td class="text-xs" mat-cell *matCellDef="let element">{{element.longitude}}</td>
                                </ng-container>
                            
                                <ng-container matColumnDef="addresslatitude">
                                    <th class="text-xs" mat-header-cell *matHeaderCellDef>address latitude</th>
                                    <td class="text-xs" mat-cell *matCellDef="let element">{{element.latitude }}</td>
                                </ng-container>
                                
                                <ng-container matColumnDef="shopdate">
                                    <th class="text-xs" mat-header-cell *matHeaderCellDef>shop date</th>
                                    <td class="text-xs" mat-cell *matCellDef="let element">{{element.createdAt }}</td>
                                </ng-container>

                                <ng-container matColumnDef="itemname">
                                    <th class="text-xs" mat-header-cell *matHeaderCellDef>item name</th>
                                    <td class="text-xs" mat-cell *matCellDef="let element">{{element.items_name }}</td>
                                </ng-container>

                                <ng-container matColumnDef="description">
                                    <th class="text-xs" mat-header-cell *matHeaderCellDef>description</th>
                                    <td class="text-xs" mat-cell *matCellDef="let element">{{element.items_description }}</td>
                                </ng-container>

                                <ng-container matColumnDef="qty">
                                    <th class="text-xs" mat-header-cell *matHeaderCellDef>qty</th>
                                    <td class="text-xs" mat-cell *matCellDef="let element">{{element.items_qty }}</td>
                                </ng-container>

                                <ng-container matColumnDef="amount">
                                    <th class="text-xs" mat-header-cell *matHeaderCellDef>amount</th>
                                    <td class="text-xs" mat-cell *matCellDef="let element">{{element.items_amt }}</td>
                                </ng-container>

                                <ng-container matColumnDef="discount">
                                    <th class="text-xs" mat-header-cell *matHeaderCellDef>discount</th>
                                    <td class="text-xs" mat-cell *matCellDef="let element">{{element.items_discount }}</td>
                                </ng-container>

                                <ng-container matColumnDef="link">
                                    <th class="text-xs" mat-header-cell *matHeaderCellDef>link</th>
                                    <td class="text-xs" mat-cell *matCellDef="let element">{{element.items_apilink }}</td>
                                </ng-container>

                                <ng-container matColumnDef="itemdate">
                                    <th class="text-xs" mat-header-cell *matHeaderCellDef>item date</th>
                                    <td class="text-xs" mat-cell *matCellDef="let element">{{element.items_createdAt }}</td>
                                </ng-container>
                            
                                <tr class="table table-striped text-xs text-nowrap overflow-x: scroll; overflow-y: scroll;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr class="table table-striped text-xs text-nowrap overflow-x: scroll; overflow-y: scroll;" mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
                                
                            </mat-table>

                            </div>

                            <div>
                                <mat-paginator 
                                #paginator
                                [pageSize]="5"
                                [pageSizeOptions]="[5, 10, 20]" 
                                showFirstLastButtons
                                >
                                </mat-paginator>
                            </div>


                            
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <app-footer></app-footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

</body>