<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <app-nav></app-nav>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <app-header></app-header>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-secondary">Register Item</h6>
                        </div>
                        <div class="card-body">
                            
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="p-5">
                                        
                                        <div class="form-group row">
                              
                              
                                            <mat-form-field class="col-sm-12" >
                                              <mat-label>Search shop</mat-label>
                                              <input type="text"
                                                     placeholder="Select shop"
                                                     aria-label="shop Search"
                                                     
                                                     matInput
                                                     [formControl]="myControl"
                                                     [matAutocomplete]="auto">
                                              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onUserSelectionChanged($event)" >
                                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
                                                  {{option.name}}
                                                </mat-option>
                                              </mat-autocomplete>
                                            </mat-form-field>
                                          
                                          
                                        </div>
                                        
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="text" class="form-control" id="itemnm"
                                                        placeholder="Item Name" value="{{name}}" [(ngModel)]="name">
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control" id="description"
                                                        placeholder="Item Description" value="{{describe}}" [(ngModel)]="describe">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-12 mb-3 mb-sm-0">
                                                <input type="number" class="form-control" id="amount"
                                                    placeholder="Amount"  value="{{amount}}" [(ngModel)]="amount">
                                                    </div>
                                                    
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="number" class="form-control"
                                                        id="quant" placeholder="Quantity Available" value="{{quantity}}" [(ngModel)]="quantity">
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="number" class="form-control"
                                                        id="disc" placeholder="Discount (if any)" value="{{discount}}" [(ngModel)]="discount">
                                                </div>
                                                
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-sm-6">
                                                    <select class="form-control"
                                                        id="statdata" placeholder="select status" value="{{statusVal}}" [(ngModel)]="statusVal">
                                                        <option value="Select Option">Select Option</option>
                                                        <option value="Y">Active</option>
                                                        <option value="N">Disable</option>
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#confirmpost">
                                                submit
                                            </button>
                                            </div>
                                            
                                        
                                        
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <app-footer></app-footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <!-- submission Modal -->
    <div class="modal fade" id="confirmpost" role="dialog" >
        <div class="modal-dialog modal-sm">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header alert alert-info" style="padding:2%;">  
              <div style="width:95%;">             
              <h6 class="modal-title" style="text-align: center;">Confirmation</h6>
              </div>
              <div style="width:5%;">
                
              <button type="button" class="close" data-dismiss="modal"><b><b>&times;</b></b></button>
              </div>
            </div>
            <div class="modal-body">
                <div style="text-align: center !important;">
                    <h6>Are you sure want to submit this?</h6>
              
            </div></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="submitData()" data-dismiss="modal">Submit</button>
              <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>

</body>